
       <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= article.title %></h4>
          <p class="card-text"><%=  @markdown.render(article.body).html_safe %></p>
          <!-- <a href="#" class="btn btn-primary">Read more...</a> -->
          <div class="card-footer">
            <%= link_to 'Edit', edit_article_path(article), class:'btn btn-warning' %>
            <%= link_to 'Delete', article_path(article), :method => :delete, data: {confirm: 'Are you certain you want to delete this'}, class:'btn btn-warning' %>
            <td><%= link_to 'Show', article_path(article), class:'btn btn-warning' %></td>
          </div>
        </div>
      </div>