<p id="notice"><%= notice %></p>
<p>
  <strong><%= @article.title %></strong>
</p>
<p>
  <!-- <%= @article.body %> -->
  <p class="card-text"><%=  @markdown.render(@article.body).html_safe %></p>
</p>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>


<h2>Add a comment:</h2>
<%= bootstrap_form_for([@article, @article.comments.build]) do |f| %>
<p>
  <%= f.label :commenter %><br>
  <%= f.text_field :commenter %>
</p>
<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
<hr>
<!-- <h2>Comments</h2> -->
<% @article.comments.each do |comment| %>
<% if comment.commenter %>
<p>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= comment.commenter %></strong> <span class="text-muted">says:</span>
      </div>
      <div class="panel-body">
        <%= comment.body %>
        </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
        
      </p>
      <% end %>
      
      <% end %>
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Back', articles_path %>